# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0
 
# The entry name that will be displayed in the boot menu
:kernel
 
# Change the protocol line depending on the used protocol.
PROTOCOL=stivale2
 
# Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
KERNEL_PATH=boot:///kernel.bin
 
# Remove the following line to enable kernel address layout randomisation.
KASLR=no
